body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #729fdb);
  border-radius: 6px;
}


/* Landing Page */

.container {
  position: absolute;
  width: 98.9vw;
  height: 600px;
  left: calc(50% - width / 2);
  top: calc(50% - 654px / 2 - 153px);
  background: rgba(236, 240, 241, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 300px 0px;
}

.logo {
  position: absolute;
  width: 150px;
  height: 80px;
  left: 130px;
  top: 135px;
}

.head_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 396px;
  height: 58px;
  left: 950px;
  top: 150px;
}
.head_menu a {
  text-decoration: none;
  padding: 5px 30px;
  font-size: large;
}
.grid {
  position: absolute;
  width: 843.23px;
  height: 388.43px;
  right: 115px;
  top: 210.5px;
  background: url("../images/land_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 135.064px;
}
.content {
  position: absolute;
  width: 605px;
  height: 254.26px;
  left: calc(50% - 605px / 2 - 287.5px);
  top: 199.87px;
}
.cshh {
  position: absolute;
  width: 635px;
  height: 53.33px;
  right: 15px;
  top: 20px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  letter-spacing: 0.04em;
  color: #5d5fef;

  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.53);
}
.content p {
  position: absolute;
  width: 521.67px;
  height: 66.67px;
  top: 120px;
  right: 110px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #576064;
}
.grp1 {
  position: absolute;
  width: 202px;
  height: 63.33px;
  left: 0px;
  top: 190.92px;
}
.btn {
  position: absolute;
  width: 120px;
  height: 55.33px;
  left: 280px;
  top: 250px;
  background: #5d5fef;
  border-radius: 30px;
}
.btn a {
  position: absolute;
  width: 158.21px;
  height: 39.54px;
  left: 20px;
  top: 15px;
  font-family: Mochiy Pop P One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #0a0808;
  text-decoration: none;
}
.count_container {
  position: absolute;
  width: 840px;
  height: 179.33px;
  left: 380px;
  top: 600px;
}
.count_container h2 {
  position: absolute;
  width: 320px;
  height: 46.67px;
  left: calc(50% - 320px / 2 + 1px);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
  color: #08147c;
}
.customer_details {
  position: absolute;
  width: 187.5px;
  height: 92.5px;
  left: 0px;
  top: 80px;
}
.communities {
  position: absolute;
  width: 187.5px;
  height: 63.33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #08147c;
}
.communities p {
  position: absolute;
  width: 153.91px;
  height: 48.33px;
  left: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #000000;
  bottom: -100px;
}
.states {
  position: absolute;
  width: 108.5px;
  height: 48.17px;
  left: 350px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;

  color: #08147c;
}
.states p {
  position: absolute;
  width: 69.17px;
  height: 48.33px;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #000000;
  bottom: -110px;
}
.people {
  position: absolute;
  width: 104.67px;
  height: 48.17px;
  left: 600px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #08147c;
}
.people p {
  position: absolute;
  width: 160px;
  height: 48.33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  color: #000000;
  bottom: -110px;

.f {
  position: absolute;
  top: 250px;
  left: 300px;
}
.content1 {
  position: absolute;
  top: 300px;
  text-align: center;
}
.logo1 {
  position: absolute;
  left: 150px;
  top: 10px;
}
.logo1 img {
  width: 180px;
}
.comm_head {
  position: absolute;
  left: 1024px;
  top: 40px;
}
.comm_head a {
  text-decoration: none;
  padding: 1px 20px;
  font-size: 25px;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}
.comm_head a:hover {
  cursor: pointer;
  color: #729fdb;
}
.explore_img {
  position: absolute;
  left: 600px;
}
.explore_img img {
  width: 250px;
}
.all {
  position: absolute;
  width: 220px;
  height: 35px;
  left: 630px;
  top: 150px;
}
.all h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #729fdb;
}
#all_comm {
  position: absolute;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow: auto;
  left: 190px;
  top: 230px;
  background: rgba(196, 196, 196, 0.4);
}
#all_comm #rect1 {
  height: max-content;
  width: 20rem;
  margin: 40px 28px;
  border: 0.1rem #c4c4c4 solid;
  border-radius: 1.5rem;
  background: rgba(167, 149, 149, 0.27);
}
#rect1 h2 {
  text-align: center;
  text-transform: capitalize;
  padding: 1px 1px;
}
#rect1 h4 {
  text-transform: capitalize;
  padding-bottom: 5px;
}
/* Profie css */
/*Profile Page CSS*/

.imgArea {
  position: absolute;
  width: 1530px;
  height: 330px;
  left: 0px;
  top: -78.62px;
  filter: drop-shadow(1px 5px 4px rgba(0, 0, 0, 0.3));
  border-radius: 15px;
  background-image: linear-gradient(
      180deg,
      rgba(47, 231, 241, 0.815),
      rgba(91, 183, 222, 0.2196)
    ),
    url("https://thumbs.dreamstime.com/b/illustration-design-garden-background-garden-background-vector-152074056.jpg");
  background-size: cover;
  background-position: center;
}

.imgArea ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  left: 950px;
  top: 115px;
}

.imgArea ul li {
  list-style: none;
  margin: 0 2rem 0 2rem;
  font-size: large;
  font-weight: bold;
}

.imgArea ul li a {
  text-decoration: none;
  color: #000000;
}

.imgArea .profileLogo {
  top: 100px;
  left: 80px;
}

.profileIcon {
  position: relative;
  top: 175px;
  left: 148px;
  background: rgba(236, 240, 241, 0.884);
  border: 11px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 6px 5px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  border-radius: 50%;
  padding: 1.5rem;
}

.profileIcon img {
  width: 90px;
  height: 80px;
  left: calc(50% - 159.7px / 2 - 474.54px);
}

.profileInfo {
  position: relative;
  width: fit-content;
  display: flex;
  left: 350px;
  top: 100px;
}
/* .profileInfo h5 {
} */
.profileInfo h3 {
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  line-height: 43px;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.socialIcons {
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.socialIcons a img {
  height: 22px;
  width: 22px;
  margin: 0 0.5rem;
}

.profileMain {
  position: relative;
  background: rgba(236, 240, 241, 0.8);
  top: 100px;
  margin: 10px 30px;
  padding: 2rem 3rem;
}

.profileCenter {
  display: flex;
}

.profileCenter .Map {
  background-color: white;
  height: 255px;
  width: 300px;
  padding: 0.5rem;
  margin-right: 2rem;
}

.profileCenter .RegCommunitiy {
  background-color: white;
  padding: 2rem;
  width: 100%;
}

