* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  overflow: hidden;
}
.nav {
  position: relative;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 200px;
}
.cfl {
  position: absolute;
  width: 523px;
  height: 33px;
  left: 800px;
  top: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.link {
  text-decoration: none;
  color: #729fdb;
  padding: 5px 15px;
}
.link:hover {
  color: #000;
}
.home_back {
  position: absolute;
  width: 750px;
  height: 450px;
  left: 800px;
  top: 130px;
}
.create_community {
  position: absolute;
  width: 420px;
  height: 35px;
  left: 300px;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
#grp1 {
  position: absolute;
  left: 270px;
  top: 210px;
}
#grp1 #community {
  height: 6.5rem;
  width: 20rem;
  border: 0.1rem #d7eaff solid;
  margin-bottom: 17px;
  border-radius: 1.5rem;
  background-color: #d7eaff;
}
#community h2 {
  text-align: center;
  text-transform: capitalize;
  padding: 1px 1px;
}
#community h4 {
  text-transform: capitalize;
  padding-bottom: 5px;
}

.bottom_img {
  background: url("/images/home_bottom.png");
  position: absolute;
  width: 1273px;
  height: 200px;
  left: 70px;
  top: 560px;
}
